POSTGRES_USER=${postgres_user}
POSTGRES_PASSWORD=${postgres_password}
POSTGRES_DB=${postgres_db}

PGADMIN_EMAIL=${pgadmin}
PGADMIN_PASSWORD=${password}

MONGO_USER=${user}
MONGO_PASSWORD=${mongo_password}
MONGO_DB=${mongo_db}

ME_USER=${user_for_mongo_express}
ME_PASSWORD=${mongo_express_password}

MYSQL_ROOT_PASSWORD=${my_sql_password}
MYSQL_DATABASE=${mysql_database}
MYSQL_USER=${mysql_user}
MYSQL_PASSWORD=${mysql_password}